<h1>Create New Auction</h1>
<%= @auction.errors.full_messages.join(", ")  %>
<%= form_for @auction do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :details %>
    <%= f.text_field :details %>
  </div>
  <div>
    <%= f.label :end_date %>
    <input type="text" id="datepicker">
  </div>
  <div>
    <%= f.label :reserve_price %>
    <%= f.text_field :reserve_price %>
  </div>
  <%= f.submit %>
<% end %>
